body {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    margin: 0%;

}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.color {
    color: orange;
}


#top {
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

#top h1 {
    font-size: 50px;
}

.top-width {
    width: 50%;
    padding: 7%;
}

.top-width img {
    width: 80%;
}

.hireme {
    text-decoration: none;
    color: antiquewhite;
    font-size: 10px;
    padding: 10px 40px;
    border: 5px;
    border-radius: 10px;
    background-color: tomato;
    font-size: 15px;
}

#mid {
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;


}

.midcss img {
    width: 160%;
    border: 20px;
    border-radius: 10px;
    padding-bottom: 10px;

}

.midcss2 h1 {
    color: rgb(201, 18, 18);

}

.midcss2 {
    padding: 8%;
    padding-right: 2%;

}

.midcss {
    padding: 10%;

}

.cr {
    color: tomato;
    font-weight: 600;
}

.cr {
    color: tomato;
}

#works img {

    width: 80%;
    padding: 1%;
}



.font {
    font-weight: 600;
    font-size: 50px;
    margin-left: 5%;
    padding: 3%;

}

.fontmid {
    font-size: 50px;
}

.fontmid2 {
    font-size: 30px;
}

.font3 {
    font-size: 30px;
    font-weight: 700;
}

.des {
    text-align: justify;
}

.mom1 {
    display: flex;
    background-color: peachpuff;

}

.mom2 {
    display: flex;
    background-color: peachpuff;

}

.cdiv {
    width: 50%;
}

.works {

    padding: 10x;
    border: 5%;

}

.xpmom {
    display: flex;

}

.exp1 {
    border-left: 7px solid rgb(14, 201, 235);
    border-radius: 2%;
    box-shadow: 10px 20px 40px gray;
    padding: 20px;
    width: 40%;
    margin: 5%;

}

.exp2 {
    border-left: 7px solid tomato;
    border-radius: 2%;
    box-shadow: 10px 20px 40px gray;
    padding: 20px;
    width: 40%;
    margin: 5%;
}

.orange {
    color: orangered;
}

.expbl {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.foot {
    text-align: center;
    font-size: medium;
    font-weight: 300;
    background-color: slategrey;
}