body {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    margin: 0%;

}

.color {
    color: orange;
}


#top {
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

#top h1 {
    font-size: 50px;
}

.top-width {
    width: 50%;
    padding: 7%;
}

.top-width img {
    width: 80%;
}

.hireme {
    text-decoration: none;
    color: antiquewhite;
    font-size: 10px;
    padding: 10px 40px;
    border: 5px;
    border-radius: 10px;
    background-color: tomato;
    font-size: 15px;
}

#mid {
    display: flex;
    width: 100%;
    padding: 5%;
}

.midcss img {
    width: 65%;
    padding: 3%;
    margin-right: 20px;
}

.midcss2 h1 {
    color: rgb(201, 18, 18);

}

.midcss2 {
    padding: 5%;

}

.midcss {
    margin-left: 5%;
}

.cr {
    color: tomato;
    font-weight: 600;
}

.cr {
    color: tomato;
}

#works img {

    width: 80%;
    padding: 1%;
}

#works {
    display: flex;
}

.font {
    font-weight: 600;
    font-size: 50px;

}

.fontmid {
    font-size: 50px;
}

.fontmid2 {
    font-size: 30px;
}

.font3 {
    font-size: 30px;
    font-weight: 700;
}